.sectionGallery {
  padding: 0 0 6.25rem 0;
}

.bg-imageZIndex {
  position: absolute;
  z-index: 0;
}
.bg-imageZIndex.bg-imageLeft {
  left: 0;
}
.bg-imageZIndex.bg-imageRight {
  right: 0;
}
.bg-imageZIndex.bg-imageTop {
  top: 0;
}
.bg-imageZIndex.bg-imageBot {
  bottom: 0;
}

@media (min-width: 768px) {
  .contentGallery .itemGallery {
    padding: 5rem 0;
  }
}
