.general-slider {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  /*    min-height: 100vh;*/
}
.general-slider:not(.swiper-initialized) .swiper-wrapper, .general-slider:not(.swiper-initialized) .swiper-slide {
  width: 100%;
}
.general-slider .swiper-wrapper {
  display: flex;
}
.general-slider .swiper-wrapper .swiper-slide {
  height: 100%;
  display: flex;
}
.general-slider .swiper-wrapper .swiper-slide .overrideBackground {
  width: 100%;
}
.general-slider .swiper-wrapper .swiper-slide .overrideBackground iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.general-slider .swiper-wrapper .swiper-slide .overrideBackground iframe video {
  width: 100% !important;
  left: 0 !important;
}
.general-slider .swiper-wrapper img {
  width: 100%;
  height: auto;
}
.general-slider .swiper-wrapper.multiSlide {
  max-height: 100vh;
}
.general-slider .swiper-wrapper.multiSlide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.general-slider .general-slider-detail {
  width: 90px;
  height: 90px;
  padding: 15px;
}
.general-slider .general-slider-detail img {
  min-height: unset;
}
.general-slider .description.containerText {
  padding: 20px 20px;
  width: 100%;
  margin: 0 !important;
}
.general-slider .description.containerText .title {
  text-transform: uppercase;
  font-size: 2.2rem;
}
.general-slider .description.containerText .text {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-left: 0;
  text-align: left;
}
.general-slider .description.top-50 {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}
.general-slider .description.topAlign {
  top: calc(2rem + 135px);
}
.general-slider .description .title {
  font-family: "proxima-nova", sans-serif;
  font-size: calc(1.3rem + 0.6vw);
  margin-top: 0;
  font-weight: 800;
  line-height: 1.2;
  color: inherit;
}
.general-slider .description .text {
  font-family: "proxima-nova", sans-serif;
  font-weight: 600;
  color: inherit;
}
.general-slider .description .title + text {
  margin-top: 0.5rem;
}
.general-slider .description a.linkDiscoverMore {
  /*   color: $white !important;*/
  color: inherit;
  font-family: "proxima-nova", sans-serif !important;
  font-size: 1.25rem !important;
  text-transform: uppercase;
  font-weight: 800 !important;
  letter-spacing: 0.1rem;
  line-height: 1.5rem;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: end;
  justify-content: flex-end;
  gap: 12px;
  width: max-content;
  margin-left: auto;
  margin-top: 20px;
}
.general-slider .swiper-button-prev, .general-slider .swiper-button-next {
  display: none;
}
.general-slider.swiper-initialized .swiper-button-prev {
  /* left: 0;*/
  display: block;
  background: rgba(2, 49, 88, 0.831372549);
  backdrop-filter: blur(3px);
  padding: 7px;
  width: 40px;
  height: 42px;
}
.general-slider.swiper-initialized .swiper-button-prev:after {
  content: "";
  display: block;
  background-image: url(../../svg/arrow_white.svg) !important;
  margin: auto;
  transform: rotate(180deg);
  background-size: contain;
  padding: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.general-slider.swiper-initialized .swiper-button-next {
  /* right: 0;*/
  display: block;
  background: rgba(2, 49, 88, 0.831372549);
  backdrop-filter: blur(3px);
  padding: 7px;
  width: 40px;
  height: 42px;
}
.general-slider.swiper-initialized .swiper-button-next:after {
  content: "";
  display: block;
  background-image: url(../../svg/arrow_white.svg) !important;
  margin: auto;
  background-size: contain;
  padding: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.general-slider.swiper-initialized .swiper-button-prev, .general-slider.swiper-initialized .swiper-button-next {
  z-index: 10;
}

@media (min-width: 768px) {
  .general-slider .description.containerText {
    padding: 20px 30px;
    width: 100%;
  }
  .general-slider .description.containerText .title {
    font-size: 3rem;
  }
  .general-slider .description.containerText .text {
    font-size: 2rem;
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .general-slider .description.containerText {
    padding: 20px 30px;
    width: 70vw;
    max-width: 1120px;
    margin: 2rem !important;
  }
  .general-slider .description.containerText .title {
    font-size: 4rem;
  }
  .general-slider .description.containerText .text {
    font-size: 3rem;
    margin-left: auto;
    text-align: right;
  }
  .general-slider .description.containerText-fluid {
    padding: 0 80px;
  }
  .general-slider .description.containerText-fluid .title {
    font-size: 6.5rem;
  }
  .general-slider .description.containerText-fluid .text {
    font-size: 3rem;
    /* color: $white;*/
    width: 50%;
    margin-left: auto;
  }
  .general-slider .description .title + text {
    margin-top: 25px;
  }
}
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
