.pie-container {
  width: 100%;
}
.pie-container .recharts-wrapper {
  margin: auto;
  width: 250px !important;
  height: 250px !important;
  overflow: visible;
}
.pie-container .recharts-wrapper svg {
  width: 250px;
  height: 250px;
  overflow: visible;
}
.pie-container .recharts-wrapper svg .text-container {
  font-family: din-2014, sans-serif;
  font-size: 1.375rem;
  line-height: 1.2;
  width: 110px !important;
  overflow: visible;
}
.pie-container .recharts-wrapper svg .text-container .bold {
  font-weight: 700;
}
.pie-container .recharts-wrapper svg .etichettaDX {
  transform: translateX(-110px);
  text-align: right;
}
.pie-container .contentIconPies {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
}
.pie-container .contentIconPies button {
  border: 0;
  background: inherit;
  padding: 0;
}
.pie-container a, .pie-container button {
  /*color: $golddark !important;*/
  z-index: 20;
}
.pie-container a span, .pie-container button span {
  display: none;
}
.pie-container a:nth-of-type(even), .pie-container button:nth-of-type(even) {
  margin-right: 1rem;
}
.pie-container a:nth-of-type(odd), .pie-container button:nth-of-type(odd) {
  margin-right: 2rem;
}
.pie-container a svg, .pie-container button svg {
  /*width: 2rem;
  height: auto;
  display: inline-flex;*/
  margin-right: 0rem;
  margin-top: 0;
}
.pie-container a svg line, .pie-container a svg path, .pie-container a svg rect, .pie-container button svg line, .pie-container button svg path, .pie-container button svg rect {
  fill: #191919;
}
.pie-container a[aria-pressed=true] line, .pie-container a[aria-pressed=true] path, .pie-container a[aria-pressed=true] rect, .pie-container button[aria-pressed=true] line, .pie-container button[aria-pressed=true] path, .pie-container button[aria-pressed=true] rect {
  fill: #98680E;
}
.pie-container .pie-content.position-absolute, .pie-container .table-content.position-absolute {
  top: 0;
}
.pie-container .table-content {
  display: none;
  padding-top: 5rem;
}
.pie-container .table-content .table-container {
  background-color: #F5F5F5;
  padding: 2rem;
}
.pie-container .table-content table {
  width: 100%;
}
.pie-container .table-content table td {
  border-bottom: 1px solid #191919;
  padding: 1rem;
  text-align: left;
  vertical-align: top;
  color: #191919;
  font-size: 1rem;
  line-height: 1rem;
}
.pie-container .table-content table caption {
  color: #191919;
  font-weight: 700;
}

@media (max-width: 767px) {
  td {
    padding: 0.475rem !important;
    width: 100% !important;
  }
}
@media (min-width: 768px) {
  .pie-container .recharts-wrapper {
    width: 450px !important;
    height: 320px !important;
    /*overflow: hidden;*/
  }
  .pie-container .recharts-wrapper svg {
    width: 450px;
    height: 450px;
    margin-top: -80px;
  }
  .pie-container .recharts-wrapper svg .text-container {
    font-size: 0.875rem;
  }
  .pie-container a:nth-of-type(even), .pie-container button:nth-of-type(even) {
    margin-right: 0;
  }
  .pie-container a:nth-of-type(odd), .pie-container button:nth-of-type(odd) {
    margin-right: 1rem;
  }
}
