/* table */
.tables-container table {
  width: 100%;
}
.tables-container table tr td, .tables-container table tr th {
  border-bottom: 1px solid #191919;
}
.tables-container table tr td.no-border, .tables-container table tr th.no-border {
  border: none;
  padding: 1.875rem 1.875rem 0 1.875rem;
}
.tables-container table th, .tables-container table td {
  padding: 1.875rem;
  text-align: left;
  vertical-align: top;
}
.tables-container table th, .tables-container table span.mobile-th {
  color: #98680E;
  font-size: 1.125rem;
  font-weight: bold;
}
.tables-container table td {
  color: #191919;
  font-size: 1.25rem;
  line-height: 1.563rem;
}
.tables-container table td:last-of-type {
  white-space: nowrap;
}
.tables-container table caption {
  color: #191919;
}

@media (max-width: 767px) {
  .tables-container table th, .tables-container table td {
    padding: 0.475rem !important;
  }
  .tables-container table th {
    color: #98680E;
    font-size: 1.125rem;
    font-weight: bold;
  }
  .tables-container table td {
    color: #191919;
    font-size: 1.25rem;
    line-height: 1.563rem;
  }
}
