.timeSlider {
  width: 100%;
  /*   height: 400px;*/
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  -ms-flex-wrap: inherit;
  -webkit-flex-wrap: inherit;
  flex-wrap: inherit;
  height: 100%;
  min-height: 400px;
  padding-left: 6vw;
  padding-right: 6vw;
  user-select: none;
  /*  .mCustomScrollBox.padded {
      margin: 0 1.5rem;
  }

  .mCustomScrollBox + .mCSB_scrollTools + .mCSB_scrollTools.mCSB_scrollTools_horizontal, .mCustomScrollBox + .mCSB_scrollTools.mCSB_scrollTools_horizontal {
      bottom: 0;
      width: calc(100% - 3rem);
  }

  .mCS-dark-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
      background-color: $gold;
  }

  .mCS-dark-thick.mCSB_scrollTools_horizontal .mCSB_draggerRail, .mCS-light-thick.mCSB_scrollTools_horizontal .mCSB_draggerRail {
      height: 1px;
      margin: 8px 0;
  }

  .mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded + .mCSB_draggerRail, .mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail {
      height: 2px;
      margin: 8px 0;
  }

  .mCS-dark-thick.mCSB_scrollTools .mCSB_draggerRail {
      background-color: $black;
  }

  .currentYear {
      font-size: 1.125rem;
  }

  .mCSB_scrollTools .mCSB_dragger {
      top: -26px;
  }

  .mCSB_horizontal.mCSB_outside > .mCSB_container {
      display: flex;
  }*/
}
.timeSlider .swiper-wrapper {
  display: flex;
  height: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-height: 400px;
  cursor: pointer;
}
.timeSlider .timeItemContainer {
  /*width: 640px;*/
  /*float: left;*/
  padding-bottom: 50px;
  flex: 0 0 auto;
}
.timeSlider .timeItemContainer:nth(:first-of-type) .ItemYear {
  /*     margin-right: 0 !important;*/
}
.timeSlider .timeItemContainer .ItemYear {
  /*            margin-right: 2rem;*/
  min-height: 440px;
  width: 650px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.timeSlider .timeItemContainer .ItemYear .wrapPictureYear {
  flex-shrink: 0;
}
.timeSlider .timeItemContainer .ItemYear .pictureYear {
  bottom: 0;
  user-select: none;
}
.timeSlider .timeItemContainer .ItemYear .itemYearText {
  /*      margin-right: 1.5rem;*/
  padding-right: 30px;
}
.timeSlider .timeItemContainer .ItemYear .itemYearText .year {
  font-size: 5rem;
  line-height: 6.5rem;
  font-weight: 200;
  letter-spacing: -5px;
  color: #023B6B;
  margin-top: -1.5rem;
  font-family: din-2014, sans-serif;
  user-select: none;
}
.timeSlider .timeItemContainer .ItemYear .itemYearText .yearDesc {
  font-size: 1rem;
  line-height: 1.2rem;
  margin-top: 0.5rem;
  font-family: din-2014, sans-serif;
  user-select: none;
}
.timeSlider .timeItemContainer .ItemYear .imgYear {
  width: 80%;
  height: auto;
}
.timeSlider .containerScrollbar {
  /*  margin-right: 10vw;*/
  position: relative;
  height: 100px;
}
.timeSlider .containerScrollbar .swiper-scrollbar.swiper-scrollbar-horizontal {
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  height: 2px;
}
.timeSlider .containerScrollbar .swiper-scrollbar.swiper-scrollbar-horizontal .swiper-scrollbar-drag {
  background-color: #023B6B;
  height: 4px;
  width: 100%;
  cursor: pointer;
  border-radius: 2px;
  height: 4px;
  display: flex;
  flex-direction: column-reverse;
}
.timeSlider .containerScrollbar .swiper-scrollbar.swiper-scrollbar-horizontal .swiper-scrollbar-drag .yearStampActive {
  color: #023B6B;
  font-family: din-2014, sans-serif;
  font-weight: 600;
  margin-bottom: 8px;
  font-size: 1.125rem;
}
.timeSlider .containerScrollbar .swiper-button-container {
  position: initial;
  display: flex;
  gap: 20px;
  margin-top: 10px;
  -webkit-justify-content: end;
  justify-content: end;
}
.timeSlider .containerScrollbar .swiper-button-container .swiper-button-prev {
  position: initial !important;
  color: #023b6b;
  width: 25px;
  height: 42px;
  display: flex;
  -webkit-justify-content: end;
  justify-content: end;
  align-items: center;
  margin: 0 !important;
}
.timeSlider .containerScrollbar .swiper-button-container .swiper-button-prev svg {
  /*   width: 1.5rem;
  height: auto;*/
}
.timeSlider .containerScrollbar .swiper-button-container .swiper-button-prev:after {
  content: unset;
}
.timeSlider .containerScrollbar .swiper-button-container .swiper-button-next {
  position: initial !important;
  color: #023b6b;
  width: 25px;
  height: 42px;
  display: flex;
  -webkit-justify-content: end;
  justify-content: end;
  align-items: center;
  margin: 0 !important;
}
.timeSlider .containerScrollbar .swiper-button-container .swiper-button-next svg {
  /*  width: 1.5rem;
  height: auto;*/
}
.timeSlider .containerScrollbar .swiper-button-container .swiper-button-next:after {
  content: unset;
}

/*.navYear {
    height: 20px;

    .slick-prev {
        right: 2rem;
        left: auto;
    }

    .slick-next {
        right: 0;
    }
}*/
[data-cointainer=years] .arrows {
  width: calc(100% - 3rem);
}

@media (min-width: 768px) {
  .timeSlider {
    padding-bottom: 3rem;
  }
  .timeSlider .timeItemContainer {
    /*margin-right: 145px;*/
  }
  .timeSlider .timeItemContainer .ItemYear {
    /*      margin-right: 1.5rem;*/
    min-height: 520px;
    width: initial;
  }
  .timeSlider .timeItemContainer .ItemYear .pictureYear {
    bottom: initial;
  }
  .timeSlider .timeItemContainer .ItemYear .itemYearText {
    /*  margin-right: 1.5rem;*/
    width: 260px;
  }
  .timeSlider .timeItemContainer .ItemYear .itemYearText .year {
    font-size: 6rem;
    line-height: 7rem;
  }
  .timeSlider .timeItemContainer .ItemYear .itemYearText .yearDesc {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }
  .timeSlider .timeItemContainer .ItemYear .imgYear {
    width: 100%;
    height: auto;
  }
}
@media (min-width: 992px) {
  .timeSlider {
    width: 100%;
    /*   height: 400px;*/
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    -ms-flex-wrap: inherit;
    -webkit-flex-wrap: inherit;
    flex-wrap: inherit;
    height: 100%;
    min-height: 600px;
    padding-left: 10vw;
    padding-right: 10vw;
  }
  .timeSlider .swiper-wrapper {
    display: flex;
    height: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    min-height: 600px;
  }
  .timeSlider .timeItemContainer {
    /* margin-right: 145px;
    */
  }
  .timeSlider .timeItemContainer .ItemYear {
    /*                margin-right: 2rem;*/
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .timeSlider .timeItemContainer .ItemYear .itemYearText {
    /*                    margin-right: 2rem;*/
    /*   width: 270px;*/
    padding-right: 30px;
  }
  .timeSlider .timeItemContainer .ItemYear .itemYearText .year {
    font-size: 6rem;
    line-height: 7rem;
  }
  .timeSlider .timeItemContainer .ItemYear .itemYearText .yearDesc {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }
  .timeSlider .timeItemContainer .ItemYear .imgYear { /*max-width:70%;*/ }
}
@media (min-width: 1200px) {
  .timeSlider .timeItemContainer {
    margin-right: 145px;
  }
  .timeSlider .timeItemContainer .ItemYear {
    /*       margin-right: 6rem;*/
  }
  .timeSlider .timeItemContainer .ItemYear .itemYearText {
    width: 300px;
  }
  .timeSlider .timeItemContainer .ItemYear .itemYearText .year {
    font-size: 7rem;
    line-height: 8rem;
  }
  .timeSlider .timeItemContainer .ItemYear .itemYearText .yearDesc {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }
  .timeSlider .timeItemContainer .ItemYear .imgYear { /*max-width:80%;*/ }
}
@media (min-width: 1400px) {
  .timeSlider .timeItemContainer {
    margin-right: 145px;
  }
  .timeSlider .timeItemContainer .ItemYear {
    /*         margin-right: 10rem;*/
  }
  .timeSlider .timeItemContainer .ItemYear .itemYearText {
    width: 320px;
  }
  .timeSlider .timeItemContainer .ItemYear .itemYearText .year {
    font-size: 7.5rem;
    line-height: 8.75rem;
    margin-top: -1.7rem;
  }
  .timeSlider .timeItemContainer .ItemYear .itemYearText .yearDesc {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }
  .timeSlider .timeItemContainer .ItemYear .imgYear { /*max-width:100%;*/ }
}
