.MenuSectionSlide .itemMenuSection {
  margin-right: 0.625rem;
}
.MenuSectionSlide .itemMenuSection .itemText {
  top: 4.375rem;
  margin: 0 3.125rem;
}
.MenuSectionSlide .itemMenuSection .itemText .name {
  font-size: 4.063rem;
  font-weight: 300;
  line-height: 4.063rem;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
}
.MenuSectionSlide .itemMenuSection .itemText .text {
  font-size: 1.125rem;
  line-height: 1.563rem;
}
.MenuSectionSlide .itemMenuSection a.linkDiscoverMore {
  color: #FFFFFF !important;
  bottom: 3.75rem;
  right: 3.75rem;
}
.MenuSectionSlide .itemMenuSection a.linkDiscoverMore:after {
  content: none;
}
.MenuSectionSlide .slick-prev {
  left: 0;
}
.MenuSectionSlide .slick-prev:before {
  background-image: url(../../svg/slider_arrow_left.svg) !important;
  margin: auto;
}
.MenuSectionSlide .slick-next {
  right: 0;
}
.MenuSectionSlide .slick-next:before {
  background-image: url(../../svg/slider_arrow_right.svg) !important;
  margin: auto;
}
.MenuSectionSlide .slick-prev, .MenuSectionSlide .slick-next {
  width: 30px;
  height: 30px;
  background: #F8F8F8;
  z-index: 10;
}

.MenuSectionSlideBio .itemMenuSection {
  padding: 0 3.438rem;
}
.MenuSectionSlideBio .itemMenuSection.slick-slide img {
  width: 100%;
  height: auto;
}
.MenuSectionSlideBio .itemMenuSection .linkDiscoverMore {
  margin-top: 1.5rem;
  display: inline-block;
}

@media (max-width: 425px) {
  .MenuSectionSlide {
    /*.slick-prev {
        left: 0.8rem;
    }*/
    /*.slick-next {
        right: 0.8rem;
    }*/
  }
  .MenuSectionSlide .itemMenuSection {
    /*.itemText {
        margin: 0 2rem;
    }*/
  }
  .MenuSectionSlide .itemMenuSection .itemText {
    top: 2.5rem;
  }
  .MenuSectionSlide .itemMenuSection .itemText .name {
    font-size: 2.6rem !important;
    line-height: 2rem !important;
  }
  .MenuSectionSlide .itemMenuSection .itemText .text {
    line-height: 1.4rem;
  }
  .MenuSectionSlide .itemMenuSection.slick-slide img {
    max-width: 350px;
    height: auto;
  }
  .MenuSectionSlide .itemMenuSection a.linkDiscoverMore {
    bottom: 2.5rem !important;
  }
}
@media (max-width: 375px) {
  .MenuSectionSlide {
    /*.slick-prev {
        left: 0.6rem;
    }

    .slick-next {
        right: 0.6rem;
    }*/
  }
  .MenuSectionSlide .itemMenuSection .itemText {
    top: 2.3rem;
  }
  .MenuSectionSlide .itemMenuSection .itemText .name {
    font-size: 2rem !important;
    line-height: 1rem !important;
  }
  .MenuSectionSlide .itemMenuSection .itemText .text {
    line-height: 1.2rem;
  }
  .MenuSectionSlide .itemMenuSection a.linkDiscoverMore {
    bottom: 2.3rem !important;
  }
  .MenuSectionSlide .itemMenuSection.slick-slide img {
    max-width: 300px;
    height: auto;
  }
}
@media (max-width: 320px) {
  .MenuSectionSlide {
    /*.slick-prev {
        left: 0.5rem;
      }

    .slick-next {
        right: 0.5rem;
    }*/
  }
  .MenuSectionSlide .itemMenuSection .itemText {
    top: 1rem;
    margin: 0 1.8rem !important;
  }
  .MenuSectionSlide .itemMenuSection .itemText .name {
    font-size: 1.8rem !important;
    line-height: 1.4rem !important;
    margin-bottom: 1.4rem;
  }
  .MenuSectionSlide .itemMenuSection .itemText .text {
    font-size: 1rem;
  }
  .MenuSectionSlide .itemMenuSection.slick-slide img {
    max-width: 250px;
    height: auto;
  }
  .MenuSectionSlide .itemMenuSection a.linkDiscoverMore {
    bottom: 1rem !important;
    right: 1.8rem;
  }
}
