<style>

    .swiper {
        width: 100%;
        height: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        height: calc((100% - 30px) / 2) !important;
        /* Center slide text vertically */
        display: flex;
        justify-content: center;
        align-items: center;
        background: darkblue;
    }

</style>
<div>
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide promotion">Slide 1</div>
            <div class="swiper-slide press">Slide 2</div>
            <div class="swiper-slide full">Slide 3</div>
            <div class="swiper-slide promotion">Slide 4</div>
            <div class="swiper-slide press">Slide 5</div>
            <div class="swiper-slide">Slide 6</div>
            <div class="swiper-slide">Slide 7</div>
            <div class="swiper-slide">Slide 8</div>
            <div class="swiper-slide">Slide 9</div>
        </div>
        <div class="swiper-pagination"></div>
    </div>

</div>

