// --------------------------------
//    Colors
// --------------------------------

$nav: #023158D4;
$white: #FFFFFF;
$blue: #023B6B;
$yellow: #FAEE05;
$lightblue: #209bb0;
$darkblueOffcanvas: #000E1AE8;
$btnMenuHoverBg: rgba(255,255,255,0.3);
$btnMenuHoverText: #6CAFDC;

//goldengoose
$black: #191919;
$gray: #919191;
$Offwhite: #F8F8F8;
$gold:  #98680E;
$goldlight: #D9C27A;
$golddark: #98680E;
$grigioChiaro: #F5F5F5;
$grigioChiarissimo: #F9F9F9;

// Typography
$font-family-base: din-2014, sans-serif;
$font-family-base-weight: 300; // 300, 400, 500, 600, 700
$font-family-base-style: normal; // normal, italic
$font-family-alt: "proxima-nova", sans-serif;
$font-family-alt-weight: 600; // 600, 700, 800
$font-family-alt-style: normal; // normal, italic

// Layout
$padding-top-menu-desktop: 135px;




