<footer data-ktc-search-exclude="" class="bgBlue" id="footer">
    <div class="footer-container text-center text-lg-start">
        <div class="container">
            <div class="row rowFooter1 flex-column-reverse flex-lg-row">
                <div class="col-lg-2 footer-col">
                    <a href="/" class="logo-link" title="Home">
                        <span class="logo">
                            <svg id="Raggruppa_35" data-name="Raggruppa 35" xmlns="http://www.w3.org/2000/svg" width="150" height="40" viewBox="0 0 211.938 52.314">
                                <g id="Raggruppa_34" data-name="Raggruppa 34" transform="translate(78.485 24.44)">
                                    <g id="Raggruppa_33" data-name="Raggruppa 33">
                                        <g id="Raggruppa_32" data-name="Raggruppa 32">
                                            <path id="Tracciato_124" data-name="Tracciato 124" d="M272.255,355.165l4.919-12.97,4.919,12.97,4.88-12.6h2.353l-7.232,18.29-4.919-12.9-4.919,12.9-7.232-18.29h2.357Z" transform="translate(-265.023 -341.821)" fill="#fff"></path>
                                            <path id="Tracciato_125" data-name="Tracciato 125" d="M316.283,355.2l-1.991,4.395h-2.335l8.326-18.28,8.329,18.28h-2.338l-1.99-4.395Zm4-9.094-3.1,7.093h6.2Z" transform="translate(-292.196 -341.311)" fill="#fff"></path>
                                            <path id="Tracciato_126" data-name="Tracciato 126" d="M354.955,348.008h-.047l-2.042,11.585h-2.248l3.572-18.286,6,13.822,6-13.822,3.575,18.286h-2.25l-2.039-11.585h-.048l-5.242,11.962Z" transform="translate(-314.58 -341.307)" fill="#fff"></path>
                                            <path id="Tracciato_127" data-name="Tracciato 127" d="M412.549,351.25v.7a8.168,8.168,0,0,1-8.324,8.541,9.171,9.171,0,0,1,.234-18.337,9.222,9.222,0,0,1,7.161,3.4l-1.541,1.471a6.935,6.935,0,0,0-12.55,4.27c0,3.684,3.03,7.184,6.835,7.184,2.73,0,5.669-2.355,5.762-5.226h-4.553v-2Z" transform="translate(-340.472 -341.796)" fill="#fff"></path>
                                            <path id="Tracciato_128" data-name="Tracciato 128" d="M449.978,360.545h-2.659l-5.18-7.44h-.91v7.44h-2.191V342.957H441.7a9.307,9.307,0,0,1,4.642.816,4.867,4.867,0,0,1,2.31,4.2,4.79,4.79,0,0,1-4.224,4.923Zm-8.749-9.261h.7c2.239,0,4.666-.42,4.666-3.218,0-2.751-2.611-3.15-4.783-3.15h-.585Z" transform="translate(-365.772 -342.262)" fill="#fff"></path>
                                            <path id="Tracciato_129" data-name="Tracciato 129" d="M480.97,351.319a9.214,9.214,0,0,1-18.427,0,9.214,9.214,0,0,1,18.427,0Zm-2.194,0a7.022,7.022,0,1,0-14.043,0,7.022,7.022,0,1,0,14.043,0Z" transform="translate(-379.381 -341.796)" fill="#fff"></path>
                                            <path id="Tracciato_130" data-name="Tracciato 130" d="M509.836,343.04v10.38c0,2.869.861,5.529,4.245,5.529s4.244-2.66,4.244-5.529V343.04h2.192v11.127c0,3.871-2.4,6.836-6.436,6.836s-6.439-2.965-6.439-6.836V343.04Z" transform="translate(-405.492 -342.31)" fill="#fff"></path>
                                        </g>
                                        <path id="Tracciato_131" data-name="Tracciato 131" d="M544.628,360.545h-2.193V342.957h2.517c5.414,0,7.093,1.866,7.093,5.085,0,3.708-2.823,5.131-6.155,5.131h-1.262Zm0-9.331h.7c2.242,0,4.667-.42,4.667-3.22,0-2.751-2.61-3.078-4.781-3.078h-.584Z" transform="translate(-425.636 -342.262)" fill="#fff"></path>
                                    </g>
                                    <path id="Tracciato_132" data-name="Tracciato 132" d="M572.23,343.359a2.055,2.055,0,1,1,2.055,2.057A2.046,2.046,0,0,1,572.23,343.359Zm3.573,0a1.518,1.518,0,1,0-1.519,1.519A1.448,1.448,0,0,0,575.8,343.359Zm-.562,1.074h-.53l-.48-.912h-.346v.912h-.453v-2.151h1.04c.458,0,.731.152.731.655a.525.525,0,0,1-.482.584Zm-.867-1.322c.226,0,.42,0,.42-.23,0-.188-.194-.188-.42-.188h-.488v.419Z" transform="translate(-442.887 -341.307)" fill="#fff"></path>
                                </g>
                                <g id="Raggruppa_31" data-name="Raggruppa 31">
                                    <g id="Raggruppa_30" data-name="Raggruppa 30">
                                        <path id="Tracciato_111" data-name="Tracciato 111" d="M174.589,299.269l-7.763-7.886,7.763-7.769,7.769,7.769Z" transform="translate(-130.27 -283.615)" fill="#fff" fill-rule="evenodd"></path>
                                        <path id="Tracciato_112" data-name="Tracciato 112" d="M196.132,320.814l-7.891-7.768,7.891-8.011,7.761,8.011Z" transform="translate(-142.668 -295.962)" fill="#fff" fill-rule="evenodd"></path>
                                        <path id="Tracciato_113" data-name="Tracciato 113" d="M217.715,342.692l-7.762-7.891,7.762-7.766,8.009,7.766Z" transform="translate(-155.239 -308.644)" fill="#fff" fill-rule="evenodd"></path>
                                        <path id="Tracciato_114" data-name="Tracciato 114" d="M196.132,364.281l-7.891-7.766,7.891-7.763,7.761,7.763Z" transform="translate(-142.668 -321.163)" fill="#fff" fill-rule="evenodd"></path>
                                        <path id="Tracciato_115" data-name="Tracciato 115" d="M174.589,385.995l-7.763-7.764,7.763-7.763,7.769,7.763Z" transform="translate(-130.27 -333.681)" fill="#fff" fill-rule="evenodd"></path>
                                        <path id="Tracciato_116" data-name="Tracciato 116" d="M152.88,364.281l-7.754-7.766,7.754-7.763,7.773,7.763Z" transform="translate(-117.706 -321.163)" fill="#fff" fill-rule="evenodd"></path>
                                        <path id="Tracciato_117" data-name="Tracciato 117" d="M130.879,299.269l7.892-7.886-7.892-7.769-7.758,7.769Z" transform="translate(-104.966 -283.615)" fill="#fff" fill-rule="evenodd"></path>
                                        <path id="Tracciato_118" data-name="Tracciato 118" d="M109.3,320.814l7.759-7.768-7.759-8.011-7.892,8.011Z" transform="translate(-92.393 -295.962)" fill="#fff" fill-rule="evenodd"></path>
                                        <path id="Tracciato_119" data-name="Tracciato 119" d="M87.764,342.692l7.756-7.891-7.756-7.766L80,334.8Z" transform="translate(-80 -308.644)" fill="#fff" fill-rule="evenodd"></path>
                                        <path id="Tracciato_120" data-name="Tracciato 120" d="M109.3,364.281l7.759-7.766-7.759-7.763-7.892,7.763Z" transform="translate(-92.393 -321.163)" fill="#fff" fill-rule="evenodd"></path>
                                        <path id="Tracciato_121" data-name="Tracciato 121" d="M130.879,385.995l7.892-7.764-7.892-7.763-7.758,7.763Z" transform="translate(-104.966 -333.681)" fill="#fff" fill-rule="evenodd"></path>
                                        <path id="Tracciato_122" data-name="Tracciato 122" d="M152.88,320.814l-7.754-7.768,7.754-8.011,7.773,8.011Z" transform="translate(-117.706 -295.962)" fill="#fff" fill-rule="evenodd"></path>
                                    </g>
                                    <path id="Tracciato_123" data-name="Tracciato 123" d="M237.654,285.667a2.054,2.054,0,1,1,2.054,2.056A2.045,2.045,0,0,1,237.654,285.667Zm3.571,0a1.518,1.518,0,1,0-1.517,1.519A1.447,1.447,0,0,0,241.225,285.667Zm-.56,1.074h-.533l-.476-.912h-.346v.912h-.453V284.59H239.9c.457,0,.733.152.733.655a.525.525,0,0,1-.483.584Zm-.868-1.323c.227,0,.421,0,.421-.23,0-.188-.194-.188-.421-.188h-.487v.419Z" transform="translate(-171.277 -283.615)" fill="#fff"></path>
                                </g>
                            </svg>
                        </span>
                    </a>
                    <div class="footer-link">
                        WAMGROUP S.p.A.
                        Via Cavour 338 - 41032 Ponte Motta/Cavezzo (MO)
                        Sede legale: Strada degli Schiocchi 12 - 41124 Modena (MO)
                        C.F. e P.IVA 03017030366 - R.E.A. 350973 MO
                        Cap.Soc. € 10.000.000,00 i.v
                    </div>
                </div>
                <div class="col-lg-10  footer-col">


                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <span class="d-none d-lg-block nav-link">About us</span>
                            <button title="Read more" class="d-lg-none nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" role="button">About us</button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="" title="Read more" class="dropdown-item">Values</a>
                                </li>
                                <li>
                                    <a href="" title="Read more" class="dropdown-item">Innovation</a>
                                </li>
                                <li>
                                    <a href="" title="Read more" class="dropdown-item">Media</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <span class="d-none d-lg-block nav-link">Product family</span>
                            <button title="Read more" class="d-lg-none nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" role="button">Product family</button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="" title="Read more" class="dropdown-item">Ethics &amp; Transparency</a>
                                </li>
                                <li>
                                    <a href="" title="Read more" class="dropdown-item">Documents</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <span class="d-none d-lg-block nav-link"></span>
                            <button title="Read more" class="d-lg-none nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" role="button"></button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="" title="Read more" class="dropdown-item">Ethics &amp; Transparency</a>
                                </li>
                                <li>
                                    <a href="" title="Read more" class="dropdown-item">Documents</a>
                                </li>
                            </ul>
                        </li>
                        
                    </ul>
                </div>
            </div>
            <div class="row rowFooter2">
                <div class="col-12 text-center d-flex flex-column">
                    <div class="social-links">
                        <a class="followus-link" href="https://www.facebook.com/" target="_blank" title="Follow us on Facebook">
                         @*    <img src="/getmedia/a1ad0a8a-1941-4daa-ba93-947c544e47f1/facebook.svg" alt="Follow us on Facebook" aria-hidden="true" width="0" height="0"> *@
                        </a>
                        <a class="followus-link" href="https://www.instagram.com/" target="_blank" title="Follow us on Instagram">
                           @*  <img src="/getmedia/997ebcb8-b21e-4512-9b0e-2848be81e94d/instagram.svg" alt="Follow us on Instagram" aria-hidden="true" width="0" height="0"> *@
                        </a>
                        <a class="followus-link" href="https://www.linkedin.com/" target="_blank" title="Follow us on Linkedin">
                            @* <img src="/getmedia/fddccccb-627b-4483-b3c6-03074c7e113d/linkedin.svg" alt="Follow us on Linkedin" aria-hidden="true" width="0" height="0"> *@
                        </a>
                        <a class="followus-link" href="https://www.youtube.com/" target="_blank" title="Follow us on Youtube">
                            @* <img src="/getmedia/97a10377-69b0-4bb9-84bb-f7b70d5616e7/youtube.svg" alt="Follow us on Youtube" aria-hidden="true" width="0" height="0"> *@
                        </a>
                        <a class="followus-link" href="https://www.tiktok.com/" target="_blank" title="Follow us on TikTok">
                           @*  <img src="/getmedia/6064f218-2fb5-48a6-8df2-4f2f6e92730b/tiktok.svg" alt="Follow us on TikTok" aria-hidden="true" width="0" height="0"> *@
                        </a>
                      
                    </div>
                    <div class="footer-nav d-flex justify-content-center order-last order-lg-first flex-column flex-lg-row">


                        <a title="Read more" href="">Privacy Policy</a>
                        <a title="Read more" href="">Cookie Policy</a>
                        <a title="Read more" href="">Accessibility Statement</a>

                       @*  <button class="pulsantiEsterni" onclick="openUNAccessibilityStatusPanel(event)" aria-haspopup="dialog">
                            Accessibility
                            Status
                        </button>

                        <!-- OneTrust Cookies Settings button start -->
                        <button id="ot-sdk-btn" class="ot-sdk-show-settings pulsantiEsterni">Cookies Settings</button>
                        <!-- OneTrust Cookies Settings button end --> *@

                    </div>
                    <address>
                        <span></span>
                    </address>
                   @*  <div class="copyright">Copyright © 2024 - All Rights Reserved.</div> *@
                </div>
               
            </div>
        </div>
    </div>
</footer>