@using Progress.Sitefinity.AspNetCore.ViewComponents;
@using Progress.Sitefinity.AspNetCore.Mvc.Rendering;
@using Progress.Sitefinity.AspNetCore.Web;
@using Elogic.Wamgroup.Sito2023.NetCore.ViewModels.WamgroupWidget;



<section>
    <div>
        Test nuova navbar
    </div>

   

</section>
