/// <reference path="../_variables.scss">
@import "../variables";
.tab-container {
   .nav-tabs {
      margin-bottom:4rem;
      justify-content: start;
      flex-wrap: nowrap;

    --bs-nav-tabs-border-width: 0;
    --bs-nav-tabs-border-color: transparent;
    --bs-nav-tabs-border-radius: 0;
    --bs-nav-tabs-link-hover-border-color: transparent transparent transparent;
    --bs-nav-tabs-link-active-color: $gold;
    --bs-nav-tabs-link-active-bg: transparent;
    --bs-nav-tabs-link-active-border-color: transparent transparent transparent;
    border-bottom: 3px solid transparent!important;
    .nav-link {
       img {
          width: auto;
          height: 50px;
       }
       .tabHoverImage {display:none;}
       margin-bottom: calc(-1 * var(--bs-nav-tabs-border-width));
       padding-bottom: 0.7rem;
       background: none;
       border-bottom: 3px solid transparent;
       border-top-left-radius: 0;
       border-top-right-radius: 0;
       width:100%;
       height: 100%;
       font-size: 1.3rem;
       vertical-align:middle;
       display: flex;
       align-items: center;
       justify-content: center;
       &.active {
         color: $gold;
         background-color: transparent;
         border-color: $gold;
         .tabImage {display:none;}
         .tabHoverImage {display:block;}
       }
      }
   }
   .tab-slick {
      &.slick-slider {
         .slick-list {
           margin: 0 1.2rem;
         }
      }
   }

   .nav-item {
      margin:0 0.5rem;
      flex: 1 0 0%;
      max-width: 202px;
      text-align:center;
      &.show {
         .nav-link {
          color: $black;
          background-color: transparent;
          border-color: transparent;
         }
      }
   }
}


@media(min-width:768px) {
  .tab-container {
   .nav-tabs {
      justify-content: center;
       .nav-link {
         img {
          width: auto;
          height: auto;
       }
       }
   }
}
}
@media(min-width:992px) {
 
}

@media(min-width:1200px) {

}

@media(min-width:1400px) {

}
